
/* html {
  filter: grayscale(100%);
} */

/* fix 火狐首页异常的问题 */
body { 
  min-height: 100vh;
  --primary-color: rgb(12, 109, 235);
  --primary-bg: rgba(12, 109, 235, 1);
}
header div:last-child {
  margin-right: 50px;
}
.edit-github {
  margin-bottom: 20px;
}
.img-div img {
  display: none;
}
.title {
  font-size: 24px!important;
  font-weight: normal !important;
}
span.hidden {
  display: none;
}

header img.pointer {
  display: none;
}
header span.pointer {
  font-size: 18px;
}
article h1 {
  color: var(--primary-color);
}
.content article {
  border-width: 0;
  border-radius: 8px;
  box-shadow: 0 0 10px #eee;
}
.aside-wrap .top {
  border-width: 0;
  border-radius: 8px;
  box-shadow: none;
}
aside ul li span:hover,
aside ul li span.active {
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

aside ul li span {
  color: inherit;
}

a {
  color: var(--primary-color) !important;
}
a:hover {
  text-decoration: underline !important;
}

/* dark mode support */
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: #aaa;
  }
  
  body .content article, header, aside > div, footer  {
    border-color: #333;
    color: #aaa;
    background-color: black;
    box-shadow: 0 0 10px #333;
  }
  
  aside ul li span, body .title {
    color: #aaa;
  }
  
  article h1 {
    background: none;
  }
  
  hr {
    border-color: #333;
  }
  
  /* 代码区域 */
  body pre {
    /* box-shadow: 0 0 3px #333; */
    border: 1px solid #333;
    border-radius: 4px;
  }
  body code[class*="language-"], pre[class*="language-"] {
    color: #aaa;
    text-shadow: none;
  }
  body :not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: #111;
  }
  body .token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
    background: none;
  }
}

/* 不足补充 */
body, aside ul li span {
  word-break: break-all;
}

table {
  border-collapse: collapse;
}
th, td {
  padding: 8px;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

/* AD */
ins {
  margin: 10px 0;
}